.moroz{
    background-image: url('https://images.pexels.com/photos/2004391/pexels-photo-2004391.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.teplo{
    background-image: url('https://images.pexels.com/photos/414160/pexels-photo-414160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    
}

.hot{
    background-image: url('https://images.pexels.com/photos/273935/pexels-photo-273935.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}